#section-1 {
    background-color: $clr-deepBlack;
    
    & > .content {
        @include centerElem();
    }
    
    #particles-1 {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .logo {
        display: block;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    }
    
    .social-box {
        display: block;
        width: 235px;
        height: auto;
        position: absolute;
        top: 30px;
        left: calc(100% - 30px);
        transform: translate(-100%, 0%);
        color: white;
        
        & > * {
            display: inline-block;
            vertical-align: middle;
        }
        
        & .icn {
            width: 50px;
            height: 50px;
            font-size: 2.5em;
            position: relative;
            border-radius: 50%;
            color: $clr-deepBlack;
            background-color: white;
            
            i {
                position: absolute;
                top: calc(50% - 3px);
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        
        & .middle-line {
            width: 0px;
            height: 60px;
            margin: 0 20px;
            border: 1px solid white;
        }
    }
    
    .foo-item {
        max-width: 500px;
        position: absolute;
        top: calc(100% - 30px);
        left: 50%;
        transform: translate(-50%, -100%);
        color: white;
        font-size: toRem(21);
        text-transform: uppercase;
        
        & > * {
            display: inline-block;
            vertical-align: middle;
        }
        
        & > div:nth-of-type(1) {
            width: 30%;
            position: relative;
            
            &:before {
                content: "";
                display: block;
                width: 0px;
                height: 100px;
                border: 1px solid white;
                position: absolute;
                left: calc(100% - 10px);
                top: 0px;
                transform: translate(0, -20%);
            }
        }
        & > div:nth-of-type(2) {
            width: 60px;
            height: 60px;
            margin: 0 10px;
            position: relative;
            border-radius: 50%;
            background: white;
            color: $clr-deepBlack;
            
            & > i {
                position: absolute;
                top: calc(50% - 1px);
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: toRem(35);
            }
        }
        & > div:nth-of-type(3) {
            width: 50%;
        }
    }
}