@mixin section1($mod) {
    @if $mod == "desktop" {
        #section-1 {
            background-color: $clr-deepBlack;

            & > .content {
                @include centerElem();
            }

            #particles-1 {
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            .logo {
                display: block;
                width: 100%;
                max-width: 800px;
                margin: 0 auto;
            }

            .social-box {
                display: block;
                width: 180px;
                height: auto;
                position: absolute;
                top: 30px;
                left: calc(100% - 30px);
                transform: translate(-100%, 0%);
                color: white;

                img {
                    display: block;
                    width: 100%;
                    max-width: 40px;
                }

                & > div > div:nth-of-type(1) {
                    position: relative;

                    &:before {
                        content: "";
                        display: block;
                        width: 0px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: calc(100% + 7px);
                        border-left: 1px solid white;
                    }
                }
            }

            .foo-item {
                width: 100%;
                max-width: 500px;
                position: absolute;
                top: calc(100% - 30px);
                left: 50%;
                transform: translate(-50%, -100%);
                color: white;
                text-transform: uppercase;
                font-size: toRem(21);

                img {
                    display: block;
                    width: 60px;
                    margin: 0 0 0 10px;
                }

                & > div > div:nth-of-type(2){
                    padding: 0 10px;
                }

                & > div > div:nth-of-type(1){
                    position: relative;

                    &:before {
                        content: "";
                        display: block;
                        width: 0px;
                        height: calc(100% + 10px);
                        border: 1px solid white;
                        position: absolute;
                        top: -5px;
                        left: calc(100% + 10px);

                    }
                }
            }
        }
    }
    
    @if $mod == "mobile" {
        #section-1 {
            background-color: $clr-deepBlack;

            & > .content {
                @include centerElem();
            }

            #particles-1 {
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            .logo {
                display: block;
                width: auto;
                max-width: 800px;
                margin: 0 auto;
            }

            .foo-item {
                width: 100%;
                max-width: 300px;
                position: absolute;
                top: calc(100% - 30px);
                left: 50%;
                transform: translate(-50%, -100%);
                color: white;
                text-transform: uppercase;

                img {
                    display: block;
                    width: 100%;
                    max-width: 60px;
                    margin-left: 5px;
                }

                & > div > div:nth-of-type(2){
                    padding: 0 10px;
                }

                & > div > div:nth-of-type(1){
                    position: relative;

                    &:before {
                        content: "";
                        display: block;
                        width: 0px;
                        height: calc(100% + 10px);
                        border: 1px solid white;
                        position: absolute;
                        top: -5px;
                        left: calc(100% + 5px);

                    }
                }
            }

            .social-box {
                display: block;
                width: 100%;
                max-width: 170px;
                height: auto;
                position: absolute;
                top: 10px;
                left: calc(100% - 10px);
                transform: translate(-100%, 0%);
                color: white;

                img {
                    display: block;
                    width: 100%;
                    max-width: 40px;
                }

                & > div > div:nth-of-type(1) {
                    position: relative;

                    &:before {
                        content: "";
                        display: block;
                        width: 0px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: calc(100% + 6px);
                        border-left: 1px solid white;
                    }
                }
            }
        }
    }
}