$clr-caribeBlueSea: #23BEA3;
$clr-deepBlack: #141414;
$clr-thunderBlue: #0000EE;
$clr-text: #4D4D4D;
$clr-silver: #878787;
$clr-blueW: #006ec7;

$ff-lato: 'Lato', sans-serif;
$ff-montse: 'Montserrat', sans-serif;

$standar-width: 1028px;

$standar-fz: 14;
$real-fz: $standar-fz + 0px;

//Center elements
@mixin centerElem() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//Calculate pixeles to rem
@function toRem($size) {
    @return ($size / $standar-fz) + 0rem;
}