@import "inc/_vars.scss";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

/* Font settings */
@include fontSizes((45, 38, 32, 28, 20, 16), 7);

.fw300, .fw-thin { font-weight: 300; }
.fw400, .fw-light-extra { font-weight: 400; }
.fw500, .fw-light { font-weight: 500; }
.fw600, .fw-medium { font-weight: 600; }
.fw700, .fw-bold-semi { font-weight: 700; }
.fw800, .fw-bold { font-weight: 800; }
.fw900, .fw-bold-extra { font-weight: 900; }

.text-silver { color: $color-silver; }
.text-carbon { color: $color-carbon; }

hr {
    &.set1 { border-top: 1px dashed rgba(black, 0.1); }
}

/* Width cols */
@include widths();