//Variables for colors
$color-deepBlack: #141414;
$color-carbon: #4D4D4D;
$color-silver: #878787;

//Variables for fonts
$ff-montse: 'Montserrat', sans-serif;
$fz-default: 18;
$fz-site: $fz-default + 0px;

$desktop-standar-width: 1028;
$standar-width: $desktop-standar-width + 0px;

//Build sizes cols
@mixin contentsWidths {
    $widthSizes: (
        (1, 8.33333333%),
        (2, 16.66666667%),
        (3, 25%),
        (4, 33.33333333%),
        (5, 41.66666667%),
        (6, 50%),
        (7, 58.33333333%),
        (8, 66.66666667%),
        (9, 75%),
        (10, 83.33333333%),
        (11, 91.66666667%),
        (12, 100%)
    );
    $size-modes: (
        ('-', 1px),
        ('-sm-', 576px),
        ('-md-', 768px),
        ('-lg-', 992px),
        ('-xl-', 1200px)
    );

    @each $szMod in $size-modes {
        @media (min-width: nth($szMod, 2)) {
            @each $wz in $widthSizes {
                .w#{nth($szMod, 1)}#{nth($wz, 1)} { width: nth($wz, 2); }
            }
        }
    }
}

//Center elements
@mixin centerElem() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//Calculate pixeles to rem
@function toRem($size) {
    @return ($size / $fz-default) + 0rem;
}
