section.sec.pad-x3.vline#section-3
    div.row.no-mx
        div.col-6
            img(src="media/images/pagina_web-22.png").img-socios

            br

            div.d-block.relv
                span.bullet.inv
                div.box-info.mx-auto.col-sm-11.xcol-lg-9.text-silver
                    p.fz32 In addition, we offer dedicated, <b class="text-gray text-uppercase">spanish-speaking business agents</b> to be <b class="text-gray text-uppercase">your representative</b> on the ground. Our agents:

        div.col-6
            div.d-block.relv
                div.box-info.mx-auto.xcol-sm-11.xcol-lg-9
                    h1.fz88.text-uppercase.text-bold.text-center <b class="text-silver">our</b> <b class="text-gray">services</b>

            div.d-block.relv
                span.bullet
                div.box-info.text-silver.mx-auto.xcol-sm-11.xcol-lg-9
                    p.fz36.text-center.text-uppercase We offer <b class="text-gray">a full array</b> of business development and marketing services, including:

            div.d-block.relv
                div.box-info.text-silver.mx-auto.xcol-sm-11.xcol-lg-9
                    br
                    br
                    ul.fz28
                        li: p In-country office space and contact information
                        li: p Translation of marketing material and websites
                        li: p Identifying and vetting distributors, brokers, and legal representation
                        li: p Assistance taking advantage of government grants and financing options for exporting
                        li: p Logistics for in-country business travel

                br
                br
                br
                div.xcol-sm-12.xcol-lg-10: hr.set1