nav.main-nav
    ul
        li: a(href="#home" data-go="sec1") Home
        li: a(href="#about" data-go="") About
        li: a(href="#work" data-go="") Work
        li: a(href="#blog" data-go="") Blog
        li: a(href="#contact" data-go="sec10") Contact