section.sec#section-1(suit)
    div#particles-1
    div.content
        img(src="media/assets/logo-white.svg").logo
    a.social-box(href="https://www.linkedin.com/company/sekell-advisers/" target="_blank")
        div.d-flex.justify-content-around.align-items-center
            div: img(src="media/assets/linkein-orb.svg").img-fluid
            div Sekell Advisers
    div.foo-item
        div.d-flex.justify-content-around.align-items-center
            div Business<br>strategy
            div: img(src="media/assets/map-marker.svg")
            div Varsovia 36 Colonia Juárez. México City