div.col-12
    p.text-gray.text-uppercase
        span.fz36 A technologically
        br
        span.fz28.text-medium sophisticated economy
    
    p.text-gray.text-right.fz36
        span Exports of 
        span.text-medium medium- and high-technology
        br
        span manufactures as a percetange of GDPt
    
    div.d-block
        img(src="media/images/factory.svg").img-fluid
    
    br
    br
    br
    hr.set1