section.sec.pad-x3#section-9
    div#particles-9
    div.d-block.mx-auto.xcol-11
        div.row
            div.col-12
                p.fz36.text-gray.text-uppercase.text-700 Platform for importing<br>and exporting
                br
            div.col-md-3
                div.row
                    div.col-2.text-center: span.the-dot.blue
                    div.col-10: span.fz36 Free trade agreements with 46 countries
                    
            div.col-md-6
                img(src="media/images/world-map.png").xcol-12
                
            div.col-md-3
                div.row
                    div.col-10.text-right: span.fz36 6 economic complementarity agreements
                    div.col-2.text-center: span.the-dot.blue
                    
            div.col-12
                br
                br
                br
                br
                
                div.box-balls
                    div.item.x2: span.top 1994<br>Nafta
                    div.item: span.bottom 1995<br>Colombia
                    div.item: span.top 1999<br>Chile
                    div.item: span.bottom 2000<br>Israel
                    div.item: span.top 2000<br>European Union
                    div.item: span.bottom(style="width:165px;") 2001<br>Iceland, Liechtenstein, Norway, Switzerland
                    div.item: span.top 2004<br>Uruguay
                    div.item: span.bottom 2005<br>Japan
                    div.item: span.top 2012<br>Peru
                    div.item: span.bottom 2013<br>Central America
                    div.item: span.top 2015<br>Panama
                    div.item: span.bottom 2016<br>Pacific Alliance
                    div.item: span.top 2018<br>TPP
                
                div.d-block(style="padding:10% 0"): hr.set1
            
        include index.body-sec9-1.pug
        
        include index.body-sec9-2.pug
        
        include index.body-sec9-3.pug