div.col-12.sec9-3
    div.d-block.text-uppercase.text-gray
        span.fz80 A constantly
        br
        span.fz48.text-medium modernizing country
    br
    br
    br
    p.text-center.text-600.text-gray.text-uppercase.fz44 13 reforms in action
    br
    br
    br
    
    div.d-flex.justify-content-center.align-items-center.text-center.flex-wrap.reformsActions
        div.item-content
            img(src="media/images/ico-electric.svg").mx-auto
            span.fz32 Energy
        div: span.the-dot.blue
        
        div.item-content
            img(src="media/images/ico-tower.svg").mx-auto
            span.fz32 Telecommunications
        div: span.the-dot.blue
        
        div.item-content
            img(src="media/images/ico-stadistic.svg").mx-auto
            span.fz32 Finance
        div: span.the-dot.blue
        
        div.item-content
            img(src="media/images/ico-give-money.svg").mx-auto
            span.fz32 Economic competition
            
        div.w-100(style="padding:7% 0 2% 0"): hr.set1
        
        div.item-content
            img(src="media/images/ico-castle.svg")
            span.fz32 Political/electora
        div: span.the-dot.blue
        
        div.item-content
            img(src="media/images/ico-book.svg")
            span.fz32 Education
        div: span.the-dot.blue
        
        div.item-content
            img(src="media/images/ico-bank.svg")
            span.fz32 Treasury
        div: span.the-dot.blue
        
        div.item-content
            img(src="media/images/ico-repare.svg")
            span.fz32 Labor
        div: span.the-dot.blue
        
        div.item-content
            img(src="media/images/ico-find-money.svg")
            span.fz32 Financial reform in local governments
            
        div.w-100(style="padding:7% 0 2% 0"): hr.set1
        
        div.item-content
            img(src="media/images/ico-wives.svg")
            span.fz32 Anti-corruption reform
        div: span.the-dot.blue
            
        div.item-content
            img(src="media/images/ico-find-user.svg")
            span.fz32 Transparency
        div: span.the-dot.blue
        
        div.item-content
            img(src="media/images/ico-balanze.svg")
            span.fz32 Constitutional reform
        div: span.the-dot.blue
        
        div.item-content
            img(src="media/images/ico-mallet.svg")
            span.fz32 Constitutional reform