section.sec#section-1(suit)
    div#particles-1
    div.content
        img(src="media/assets/logo-white.svg").logo
    a.social-box(href="https://www.linkedin.com/company/sekell-advisers/" target="_blank")
            span.icn: i.fab.fa-linkedin-in
            span.middle-line
            span.fz21 Sekell Advisers
    div.foo-item
        div Business strategy
        div: i.fas.fa-map-marker-alt
        div Varsovia 36 Colonia Juárez. México City