section.sec.pad-x3.vline#section-2
    div#particles-2
    div.row.no-mx
        div.col-6
            img(src="media/images/tower.png").img-tower

            br

            div.d-block.relv
                span.bullet.inv
                div.info-box.text-center.mx-auto.xcol-sm-10.text-uppercase
                    div.d-block.fz92 We give you
                    div.d-block.fz40.text-gray: b All the expertise you need
                    div.d-block.fz48.text-gray: b To succeed and grow.

        div.col-6.align-self-start
            div.d-block.relv
                span.bullet
                div.info-box.text-silver.mx-auto.xcol-sm-11.xcol-lg-8
                    p.h1.text-uppercase Your first and <b class="text-gray">best</b> link to the mexican market.
                    br
                    br
                    p.fz36.text-justify We can help you grow your business in Mexico, North America's most dynamic emerging economy.
            br
            br
            br
            div.xcol-sm-12.xcol-lg-10: hr.set1
            br
            br
            br

            div.d-block.relv
                span.bullet
                div.box-info.text-silver.mx-auto.xcol-sm-11.xcol-lg-8
                    p.fz36.text-justify We support U.S. and Canadian companies's market entry into Mexico with dedicated <b class="text-gray">on-the-ground experts.</b> We're your secret ewapon to overcome obstables and cultural barriers. We hace the expertise and personal touch you need to pernetrate and expand in the Mexican market.
            br
            br

            div.d-block.relv
                span.bullet
                div.box-info.text-silver.mx-auto.xcol-sm-11.xcol-lg-8
                    p.fz36.text-justify As your single point of contact in Mexico, and we coordinate all details and services on your behalf.