section.sec.pad-x3.vline#section-7
    div.row.no-mx
        div.col-sm-12.col-md-6
            div.d-block.mx-auto.xcol-11.xcol-md-10
                p.fz92.h1.text-uppercase.text-silver.text-center why<br><b class="text-bold">Mexico?</b>
                br
                br
                br
                
            div.d-block.relv
                span.bullet.inv
                p.fz32.h4.text-uppercase.text-gray.text-center.xcol-11.mx-auto
                    span.fz32.text-silver Mexico is quickly becoming an
                    br
                    span.fz56.text-bold emerging market
                    br
                    span.fz72.text-bold heavyweight.
                br
                br
                
            hr.set1
            
        div.col-sm-12.col-md-6
            div.d-block.xcol-sm-11.xcol-md-10.mx-auto
                img(src="media/images/north-america-dots.svg").d-block.xcol-9.mx-auto