section.sec.pad-x3#section-9
    div#particles-9
    div.d-block.mx-auto.xcol-11
        div.row
            div.col-12
                p.fz36.text-gray.text-uppercase.text-700 Platform for importing<br>and exporting
                br
            div.col-md-3
                div.row
                    div.col-2.text-center: span.the-dot.blue
                    div.col-10: span.fz36 Free trade agreements with 46 countries
                    
            div.col-md-6
                img(src="media/images/world-map.png").xcol-12
                
            div.col-md-3
                div.row
                    div.col-10.text-right: span.fz36 6 economic complementarity agreements
                    div.col-2.text-center: span.the-dot.blue
                    
            div.col-12
                br
                br
                br
                br
                div.d-flex.justify-content-around.text-center.fz16
                    div.align-self-center.relv
                        span.ball.x2
                        span 1994<br>Nafta
                    div.align-self-center.relv
                        span.ball
                        span(style="width:95px;").bottom 1995<br>Colombia
                    div.align-self-center.relv
                        span.ball
                        span 1999<br>Chile
                    div.align-self-center.relv
                        span.ball
                        span.bottom 2000<br>Israel
                    div.align-self-center.relv
                        span.ball
                        span(style="width:100px;") 2000<br>European Union
                    div.align-self-center.relv
                        span.ball
                        span(style="width:165px;").bottom 2001<br>Iceland, Liechtenstein, Norway, Switzerland
                    div.align-self-center.relv
                        span.ball
                        span(style="width:80px;") 2004<br>Uruguay
                    div.align-self-center.relv
                        span.ball
                        span(style="width:80px;").bottom 2005<br>Japan
                    div.align-self-center.relv
                        span.ball
                        span 2012<br>Peru
                    div.align-self-center.relv
                        span.ball
                        span(style="width:100px;").bottom 2013<br>Central America
                    div.align-self-center.relv
                        span.ball
                        span(style="width:80px;") 2015<br>Panama
                    div.align-self-center.relv
                        span.ball
                        span(style="width:80px").bottom 2016<br>Pacific Alliance
                    div.align-self-center.relv
                        span.ball
                        span 2018<br>TPP
                
                div.d-block(style="padding:10% 0"): hr.set1
            
        include index.body-sec9-1.pug
        
        include index.body-sec9-2.pug
        
        include index.body-sec9-3.pug