section.sec#section-4
    div.row
        div.col-sm-12.col-md-6
            div.xcol-9.mx-auto
                p.fz32.resp-mobile.only-mobile In addition, we offer dedicated, <b class="text-gray text-uppercase">spanish-speaking business agents</b> to be <b class="text-gray text-uppercase">your representative</b> on the ground. Our agents:
                
                ul.fz32.text-silver
                    li: p Are familiar with regional economic conditions and business conventions, and have existiong relationships with Mexican businesses and service providers
                    li: p Have full, in-depth knowledge of your business and products
                    li: p Generate and follow up on leads with in-person visits
                    li: p Research business opportunities, liaise with customers, and coordinate with vendors
                    li: p Represent you at trade show and during site visits to customers and distributors
                    li: p Use a goal-setting and reporting protocol to assure accountability
                    
        div.col-sm-12.col-md-6.text-left
            div.xcol-9.resp-desktop.resp-tablet
                img(src="media/images/person.svg").img-fluid
                
        div.col-12
            br
            br
            br
            br
            div.xcol-sm-12.xcol-md-10.xcol-lg-8.mx-auto.text-center
                p.fz40.text-gray <b class="text-uppercase">We tailor our business development plan to clients'</b> <i>product, needs, and budget.</i> Our approach is <b>customizable</b>, pragmatic, <b>success-oriented</b>, focusing on our clients' sales an maketing goals.
                