nav.main-nav
    ul
        li: a(href="#home" data-go="sec1")!=i18n["navbar.textlink.label1"].en_US
        li: a(href="#what-we-do" data-go="sec2")!=i18n["navbar.textlink.label2"].en_US
        li: a(href="#why-us" data-go="sec5")!=i18n["navbar.textlink.label3"].en_US
        li: a(href="#why-mexico" data-go="sec6")!=i18n["navbar.textlink.label4"].en_US