section.sec.pad-x3.vline#section-5
    div#particles-5
    div.row.no-mx
        div.col-sm-12.col-md-7.col-lg-6
            div.xcol-sm-11.xcol-md-10.mx-auto.text-silver
                h1.text-uppercase.text-bold.text-center
                    b.fz60.text-silver Why business
                    br
                    b.fz56.text-gray representation?
            br
            br
            br
            div.d-block.relv
                span.bullet.inv
                p.d-block.mx-auto.text-center.fz36.text-uppercase.xcol-sm-11.xcol-md-9
                    span.text-silver U.S. and canadian companies often face unique 
                    b.text-gray challenges doing business in Mexico
                    
            br
            br
            br
            br
            
            div.d-block.xcol-sm-11.xcol-md-9.mx-auto
                ul.fz32
                    li: p Mexico's business culture is incredibly distinct, and can be hard to negative
                    li: p for those who are unfamiliar with it
                    li: p Distance and language are frequently barriers to following up on leads and contacts
                    li: p Different cultural communication norms can lead to confusion and misunderstanding
                    li: p Many companies face hurdles fanancing their expansion
                
        div.col-sm-12.col-md-5.col-lg-6
            img(src="media/images/pagina_web-21.png").d-block.float-right.xcol-sm-12.xcol-lg-10