section.sec
    div.row
        div.col-sm-12.col-md-6
            div.d-block.xcol-11.xcol-md-10.mx-auto.text-silver.fz32
                p.text-uppercase Sekell Advisers has clients in number of different industries - including healthcare, green tech, and automotive - navigate those hurdles.
            
        div.col-sm-12.col-md-6
            div.d-block.xcol-11.xcol-md-10.mx-auto.fz44.text-center.text-silver
                p.text-uppercase We give your company a visible, <b class="text-gray">credible in-country presence.</b>
                br
                p.text-uppercase We're your first and best link to the mexican market.
            