html, body {
  background: white;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  overflow-x: hidden;
}

*[resp="desktop"] {
  display: none !important;
}

.main-site {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.main-site .sec {
  display: block;
  width: 100%;
  height: auto;
  min-height: 100px;
  position: relative;
  padding: 30px 0;
  color: #4D4D4D;
}

.main-site .sec.vline:before {
  content: "";
  display: block;
  width: 0px;
  height: 90%;
  border-left: 1px dashed #CCC;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-site .sec > .content {
  display: block;
  width: 100%;
  height: auto;
  min-height: 100px;
  margin: 20px auto;
}

.main-site .sec > .content.strech {
  max-width: 1028px;
}

.main-site .sec > .content.mx-x2 {
  margin: 40px auto;
}

.main-site .sec > .content.mx-x3 {
  margin: 60px auto;
}

.main-site .sec > .content.mx-x4 {
  margin: 80px auto;
}

.main-site .sec > .content.mx-x5 {
  margin: 100px auto;
}

.main-site .sec > .content.mx-x6 {
  margin: 120px auto;
}

#sec1 {
  background-color: #141414;
}

#sec1 .linkein {
  width: 100%;
  max-width: 200px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 100%;
  -webkit-transform: translate(-110%, 0%);
          transform: translate(-110%, 0%);
  color: white;
}

#sec1 .linkein div:nth-of-type(1) {
  position: relative;
}

#sec1 .linkein div:nth-of-type(1):before {
  content: "";
  display: block;
  width: 0px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: calc(100% + 7px);
  border-left: 1px solid white;
}

#sec1 .sekell-logo {
  display: block;
  width: 40%;
  max-width: 1028px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#sec1 .foo-address {
  color: white;
  position: absolute;
  top: calc(100% - 50px);
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

#sec1 .foo-address > div:nth-of-type(1) {
  position: relative;
}

#sec1 .foo-address > div:nth-of-type(1):after {
  content: "";
  display: block;
  width: 0px;
  height: 100%;
  position: absolute;
  top: 0;
  left: calc(100% + 15px);
  border-left: 1px solid white;
}

#sec1 .foo-address > div:nth-of-type(2) {
  margin: 0 10px 0 30px;
}

#sec1 .foo-address > div:nth-of-type(2) img {
  display: block;
  margin: 0 auto;
  width: 40px;
}

#sec2 .phrase-1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 0;
}

#sec5 .title {
  text-transform: uppercase;
  text-align: center;
  font-size: 0;
}

#sec6-1 .table tr, #sec6-1 .table td, #sec6-1 .table th {
  border: 1px dashed #878787;
  padding: 2px;
}

#sec6-1 .table .higthlight {
  background: yellow;
}

#sec6-1 .yearBox {
  position: relative;
}

#sec6-1 .yearBox span {
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: translate(-65%, -50%) rotate(-90deg);
          transform: translate(-65%, -50%) rotate(-90deg);
  font-size: 3.22222rem;
  font-weight: bold;
}

#sec7 .hasOrb {
  width: 100%;
  max-width: 30px;
  margin: 0 10px;
}

#sec7 .hasOrb:before {
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #006EC7;
}

#sec7 .graphBalls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin: 50px 0;
}

#sec7 .graphBalls .item {
  position: relative;
  margin: 0 5px;
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 auto !important;
          flex: 1 1 auto !important;
}

#sec7 .graphBalls .item:first-of-type {
  margin-left: 0px;
}

#sec7 .graphBalls .item:last-of-type {
  margin-right: 0px;
}

#sec7 .graphBalls .item .text {
  text-align: center;
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, -110%);
          transform: translate(-50%, -110%);
  font-size: 0.77778rem;
  line-height: 0.77778rem;
}

#sec7 .graphBalls .item:nth-child(odd) .text {
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 10%);
          transform: translate(-50%, 10%);
}

#sec7 .graphBalls .ball {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #878787;
}

#sec7 .graphBalls .ball.szx2 {
  width: 100px;
  height: 100px;
}

#sec9 .wrapperGraph .graphRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2px 0;
}

#sec9 .wrapperGraph .graphRow.higthlight {
  border: 1px solid red;
}

#sec9 .wrapperGraph .graphRow .country {
  text-align: right;
  width: 15%;
  min-width: 150px;
  padding: 0 10px 0 0;
  font-size: 0.77778rem;
}

#sec9 .wrapperGraph .graphRow .range {
  width: 50%;
  height: auto;
  position: relative;
}

#sec9 .wrapperGraph .graphRow .range span {
  display: block;
  width: auto;
  height: 15px;
  margin: auto 0;
  background: #006EC7;
  border-radius: 0 3px 3px 0;
}

#sec9 .wrapperGraph .graphRow .info {
  width: 30%;
  font-size: 1rem;
  line-height: 1rem;
  padding: 0 0 0 30px;
  position: relative;
}

#sec9 .wrapperGraph .graphRow .info:before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  border-radius: 50%;
  background-color: #006EC7;
}

#sec10 .reforms-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#sec10 .reforms-content .item {
  width: calc(20% - 10px);
  text-align: center;
  padding: 0 10px 10px 10px;
}

#sec10 .reforms-content .item span {
  display: block;
  margin: 7px 0 0 0;
}

#sec10 .reforms-content .item > div {
  position: relative;
}

#sec10 .reforms-content .item > div:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
  border-radius: 50%;
  background-color: #006EC7;
}

#sec10 .reforms-content .item > div img {
  display: block;
  margin: 0 auto;
  width: calc(100% - 30px);
}

#sec10 .reforms-content .item:nth-of-type(5) > div:after,
#sec10 .reforms-content .item:nth-of-type(10) > div:after,
#sec10 .reforms-content .item:nth-of-type(13) > div:after {
  display: none;
}
