-var currentPage = 'Home';
-var titleText = 'Sekell Advisers | Inicio'

doctype html
html
    head
        include inc/index.head.pug
    body
        main.main-site
            include inc/index.body-sec1.pug
            
            include inc/index.body-sec2.pug
            
            include inc/index.body-sec3.pug
            
            include inc/index.body-sec4.pug
            
            include inc/index.body-sec5.pug
            
            include inc/index.body-sec6.pug
            
            include inc/index.body-sec7.pug
            
            include inc/index.body-sec8.pug
            
            include inc/index.body-sec9.pug
            
        include inc/index.scripts.pug