-var currentPage = 'Home';
-var titleText = 'Sekell Advisers | Home';

doctype html
html
    head
        include inc/index.head.pug
        
    body
        main.main-site
            include inc/home/section-1.pug
                        
            include inc/home/section-2.pug
            
            include inc/home/section-3.pug
            
            include inc/home/section-4.pug
            
            include inc/home/section-5.pug
            
            include inc/home/section-6.pug
            
            include inc/home/section-7.pug
                        
        script(src="scripts/main.js")