section.sec#sec4
    div.container
        div.row
            div.col-12.col-md-6
                ul.text-justify
                    li: p Are familiar with regional economic conditions and business conventions, and have existiong relationships with Mexican businesses and service providers
                    
                    li: p Have full, in-depth knowledge of your business and products
                    
                    li: p Generate and follow up on leads with in-person visits
                    
                    li: p Research business opportunities, liaise with customers, and coordinate with vendors
                    
                    li: p Represent you at trade show and during site visits to customers and distributors
                    
                    li: p Use a goal-setting and reporting protocol to assure accountability
                    
            div.col-12.col-md-6: img(src="media/images/person.svg")
            
            div.col-12
                br
                br
                div.d-block.w-11.w-md-9.mx-auto
                    p.h4.text-center #[b WE TAILOR OUR BUSINESS DEVELOPMENT PLAN TO CLIENTS'] product, needs, and budget. Our approach is #[b customizable,] pragmatic, #[b success-oriented,] focusing on our clients' sales an maketing goals.