section.sec#sec3.vline
    div.content
        div.row
            div.col-12.col-md-5.col-lg-6
                picture.d-block.w-12.w-sm-10
                    source(class="w-100" srcset="media/images/photo-01.jpg" media="(max-width:767px)")
                    source(class="w-100" srcset="media/images/pagina_web-22.png" media="(min-width:768px)")
                    img(src="media/images/pagina_web-22.png" alt="...")
                br
                
                div.d-block.w-11.w-md-10.mx-auto
                    p.h5 In addition, we offer dedicated, <b class="text-carbon">SPANISH-SPEAKING BUSINESS AGENTS</b> to be <b class="text-carbon">YOUR REPRESENTATIVE</b> on the ground. Our agents:
                    
            div.col-12.col-md-7.col-lg-6
                h1.text-center.text-uppercase.fw900
                    span.text-silver Our 
                    span.text-carbon Services
                br
                
                div.d-block.w-11.w-md-10.mx-auto
                    p.h4.text-uppercase.text-center We offer a <b class="text-carbon">a full array</b> of business development and marketing services, including:
                    br
                    
                    ul
                        li: p In-country office space and contact information
                        li: p Translation of marketing material and websites
                        li: p Identifying and vetting distributors, brokers, and legal representation
                        li: p Assistance taking advantage of government grants and financing options for exporting
                        li: p Logistics for in-country business travel