section.sec#sec2.vline
    div.content.mx-x3
        div.row
            div.col-12.col-md-5.col-lg-6
                img(src="media/images/tower.png").w-11.w-sm-9.w-lg-7
                
                div.phrase-1.w-11.w-md-9.mx-auto(fit-fz)
                    div.fw300 We give you
                    div.fw600.text-silver all the expertise you need
                    div.fw600.text-silver to succeed and grow.
                    
            div.col-12.col-md-7.col-lg-6
                div.d-block.mx-auto.w-11.w-lg-9
                    p.h3.text-center.text-uppercase Your first and <span class="fw-bold">best</span> link to the Mexican market.
                    br
                    br
                    
                    p.text-justify We can help you grow your business in Mexico, North America’s most dynamic emerging economy.
                    
                hr.set1
                
                div.d-block.mx-auto.w-11.w-lg-9
                    p.text-justify We support U.S. and Canadian companies’ market entry into Mexico with dedicated, <b>on-the-ground experts.</b> We’re your secret weapon to overcome obstacles and cultural barriers. We have the expertise and personal touch you need to penetrate and expand in the Mexican market.
                    br
                    
                    p.text-center As your single point of contact in Mexico, and we coordinate all details and services on your behalf. 