section.sec#sec1(suit)
    div.content
        a.linkein.d-flex.justify-content-around.align-items-center(href="#" target="_blank")
            div.w-2: img(src="media/assets/linkein-orb.svg").img-fluid.d-block.mx-auto
            div Sekell Advisers

        div.sekell-logo
            img(src="media/assets/logo-white.svg").img-fluid

        div.foo-address.d-flex.justify-content-center.align-items-center.text-uppercase.w-10.w-lg-4.fz12
            div Business<br>strategy
            div: img(src="media/assets/map-marker.svg")
            div Varsivia 36 Colonia<br>Juarez. Mexico City