section.sec#sec5.vline
    div.row
        div.col-12.col-md-6
            div.title.w-11.w-md-9.mx-auto(fit-fz)
                div.fw900 Why business
                div.fw900.text-silver representation?
            
            br
            div.w-11.w-md-10.mx-auto
                p.h4.text-uppercase.text-center U.S and Canadian cmpanies ofter face unique #[b challenges doing business in Mexico]
                
                br
                
                ul
                    li: p Mexico's business culture is incredibly distinct, and can be hard to negative
                    li: p For those who are unfamiliar with it
                    li: p Distance and language are frequently barriers to following up on leads and contacts
                    li: p Different cultural communication norms can lead to confusion and misunderstanding
                    li: p Many companies face hurdles fanancing their expansion
                    
        div.col-12.col-md-6
            img.d-block.w-10.float-right(src="media/images/pagina_web-21.png")
            
section.sec
    div.row
        div.col-12.col-md-6
            div.d-block.w-11.mx-auto
                p.text-uppercase Sekell Advisers has clients in number of different industries - including healthcare, green tech, and automotive - negative those hurdles.
            
        div.col-12.col-md-6
            div.d-block.w-11.mx-auto
                p.text-uppercase We give yout company a visible, #[b credible in-contry presence.]
                p.text-uppercase We're your first and best link to the mexican market.