section.sec#sec8
    div.container
        div.d-block.w-12.w-md-7.w-lg-5.text-uppercase.text-center(fit-fz)
            div.fw300 A technologically
            div.fw600 sophisticated ecnonomy
        
        br
        div.d-block.w-12.w-md-9.text-right(style={margin: "0 0 0 auto"})
            h3.fw300 Exports of #[span.fw600 medium and high technology] manufactures as a percetange of GDPt
        
        div.d-block
            img(src="media/images/factory.svg").img-fluid.w-100