div.d-block.w-11.mx-auto
    svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 431.5 135.8" style="enable-background:new 0 0 431.5 135.8;" xml:space="preserve")
        g
            text(transform="matrix(1 0 0 1 -1.0774 58.0549)" font-size="63px" font-weight="300") WE GIVE YOU
            text(transform="matrix(1 0 0 1 2.7205 91.0549)" font-size="27px" font-weight="300") ALL THE EXPERTISE YOU NEED
            text(transform="matrix(1 0 0 1 -2.0964 129.0549)" font-size="33px" font-weight="300") YO SUCCEED AND GROW.